SPRING_DATASOURCE_URL=jdbc:oracle:thin:@//host.docker.internal:1521/FREEPDB1
SPRING_DATASOURCE_USERNAME=usuario
SPRING_DATASOURCE_PASSWORD=senha123

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI=ttps://sts.windows.net/{tenant-id}/