name: Cria e publica uma imagem Docker para este backend do Cookin' Up

on:
  push:
    tags:
      - 'v*.*.*.*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PROJECT_DF: ./Dockerfile
  TAG_PREFIX: v

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Set VERSION environment variable from tag (removing leading 'v')
      - name: Set VERSION env from tag
        if: startsWith(github.ref, format('refs/tags/{0}', env.TAG_PREFIX))
        run: echo "VERSION=${GITHUB_REF#refs/tags/${TAG_PREFIX}}" >> $GITHUB_ENV
      
      # Stop workflow if VERSION does not match version pattern
      - name: Stop workflow if VERSION does not match version pattern
        run: |
          if [[ ! "$VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "VERSION is not a valid version string (x.x.x.x). Stopping workflow."
            exit 1
          fi
        shell: bash

      # Login against a Docker registry 
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@96383f45573cb7f253c731d3b3ab81c87ef81934 # v5.0.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # Build and push Docker image with Buildx 
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5.0.0
        with:
          context: .
          file: ${{ env.PROJECT_DF }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ env.VERSION }}
          #cache-from: type=gha
          #cache-to: type=gha,mode=max

      # This step generates an artifact attestation for the image, 
      # which is an unforgeable statement about where and how it was built. 
      # It increases supply chain security for people who consume the image. 
      # For more information, see [Using artifact attestations to establish provenance for builds](/actions/security-guides/using-artifact-attestations-to-establish-provenance-for-builds).
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.build-and-push.outputs.digest }}
          push-to-registry: true
          file: ${{ env.PROJECT_DF }}
